@model HealthJang.Models.Board

@{
    ViewBag.Title = "Add";
}

<script src="https://cdn.tiny.cloud/1/wcmdl7m0u7t09yxnga64m3lj5tn1os8swg0njclrw3fg3hfw/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<h2>Add</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <!--@Html.LabelFor(m => m.BoardTitle)-->
            <label>제목</label>
            @Html.TextBoxFor(m => m.BoardTitle, new { @class = "form-control", autocomplete="off" })
        </div>

        <div class="form-group">
            <!--@Html.LabelFor(m => m.BoardContents)-->
            <label>내용</label>
            @Html.TextAreaFor(m => m.BoardContents, new { @class = "form-control", rows = 20 })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" onclick="testClick();">등록완료</button>
            @Html.ActionLink("뒤로가기", "Index")
        </div>
    </div>
}



<script>
    tinymce.init({
        selector: 'textarea',
        menubar: 'custom',
    });

    function testClick() {
        var content = tinymce.activeEditor.getContent();
        console.log(content);
    };
</script>